## First Test

Please execute each cell in the following. To execute a cell, click on it, and then use SHIFT+ENTER (this will execute the contents of the cell, and move down to the next one!).

There are other useful keyboard commands (see the Help menu) and the menu bar can always be used instead as well

**Load the [ipython-sql](https://github.com/catherinedevlin/ipython-sql)  extension**

In [1]:
%load_ext sql

**Create an empty database named `test.db`**

In [2]:
%sql sqlite:///test.db

'Connected: @test.db'

**Create a table named `simple`**

In [3]:
%%sql

CREATE TABLE simple (first integer, second integer)

 * sqlite:///test.db
Done.

[]

**Insert data into `simple`**

In [4]:
%%sql

INSERT INTO simple VALUES (1,2);
INSERT INTO simple VALUES (2,3);
INSERT INTO simple VALUES (3,4);
INSERT INTO simple VALUES (4,1);

 * sqlite:///test.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

**Run a SQL query**

In [5]:
%%sql

SELECT * FROM simple

 * sqlite:///test.db
Done.

[(1, 2), (2, 3), (3, 4), (4, 1)]

**Check Database Metadata**
Check this [page](http://www.sqlitetutorial.net/sqlite-commands/) for commands and how to chech database metadata.

**Now you can delete the table**

In [6]:
%%sql

DROP TABLE simple

 * sqlite:///test.db
Done.

[]